<component name="ArtifactManager">
  <artifact type="exploded-war" name="Spring3.x_Chapter2:war exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/Spring3_x_Chapter2_war_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Spring3.x_Chapter2/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Spring3.x_Chapter2" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="mysql-connector-java-5.1" />
          <element id="library" level="project" name="log4j-1.2.17" />
          <element id="library" level="project" name="junit-4.10" />
          <element id="library" level="project" name="commons-dbcp2-2.3" />
          <element id="library" level="project" name="bao" />
          <element id="library" level="project" name="aspectjweaver" />
          <element id="library" level="project" name="commons-pool2-2.5" />
        </element>
      </element>
    </root>
  </artifact>
</component>